<h2><p>{{title}} available</p> <p><a href="/catalog/computer-accessories/create">Add item</a></p></h2>
<section>
    {{#each keyboard_list}}
    <article>
        <h4><a href="{{url}}">{{name}}</a></h4>
        <img class="product-image" src="{{file_url}}" alt="">
        <p><span class="price">{{price}}</span> | <span class="stock">Stock: {{stock}}</span></p>
    </article>
    {{/each}}
</section>
<section>
    {{#each mice_list}}
    <article>
        <h4><a href="{{url}}">{{name}}</a></h4>
        <img class="product-image" src="{{file_url}}" alt="">
        <p><span class="price">{{price}}</span> | <span class="stock">Stock: {{stock}}</span></p>
    </article>
    {{/each}}
</section>
<a href="/catalog/">&leftarrow; Look at Categories</a>