<h2>{{title}} available</h2>
<section>
    {{#each keyboard_list}}
    <article>
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        <p><span class="price">{{price}}</span> | <span class="stock">Stock: {{stock}}</span></p>
    </article>
    {{/each}}
</section>
<section>
    {{#each mice_list}}
    <article>
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        <p><span class="price">{{price}}</span> | <span class="stock">Stock: {{stock}}</span></p>
    </article>
    {{/each}}
</section>