
<article>
    <h2>{{item.name}}</h2>
    <p>{{item.description}}</p>
    <p><span class="price">{{item.price}}</span> | <span class="stock">Stock: {{item.stock}}</span></p>
</article>
<div class="update-delete-container">
    <button class="update"><a href="{{item.url}}/update">Update</a></button>
    <button class="delete"><a href="{{item.url}}/delete">Delete</a></button>
</div>