
<article>
    <h2>{{item.name}}</h2>
    <ul>
        <li>OS: {{item.description.OS}}</li>
        <li>RAM: {{item.description.RAM}} GB</li>
        <li>ROM: {{item.description.ROM}} GB</li>
        <li>Battery: {{item.description.battery}} mAh</li>
        <li>Cameras: {{item.description.cameras.camera1}}, {{item.description.cameras.camera2}}, {{item.description.cameras.camera3}}</li>
    </ul>
    <p><span class="price">{{item.price}}</span> | <span class="stock">Stock: {{item.stock}}</span></p>
</article>