<h2><p>{{title}} available</p> <a href="/catalog/phones/create">Add item</a></h2>
<section>
    {{#each smartphone_list}}
    <article>
        <h4><a href="{{url}}">{{name}}</a></h4>
        {{#if description}}
        <ul>
            <li>OS: {{description.OS}}</li>
            <li>RAM: {{description.RAM}} GB</li>
            <li>ROM: {{description.ROM}} GB</li>
            <li>Battery: {{description.battery}} mAh</li>
            <li>Cameras: {{description.cameras.camera1}} 
            {{#if description.cameras.camera2}}
            ,{{description.cameras.camera2}} 
            {{/if}}
            {{#if description.cameras.camera3}}
            ,{{description.cameras.camera3}} 
            {{/if}}
            </li>
        </ul>
        {{else}}
        <p>No description has been provided for this item.</p>
        {{/if}}
        <p><span class="price">{{price}}</span> | <span class="stock">Stock: {{stock}}</span></p>
    </article>
    {{/each}}
</section>
