<h2>Make changes to {{item.name}}</h2>
{{#if errors}}
<ul>
    {{#each errors}}
    <li>{{msg}}</li>
    {{/each}}
</ul>
{{/if}}
<form action="" method="POST" class="create-form" enctype="multipart/form-data">
    <label for="name">Name: </label>
    <input type="text" name="name" required minlength="1" value="{{item.name}}">
    <fieldset>
        <legend>Description: </legend>
        <label for="OS">OS: </label>
        <input type="text" name="OS" minlength="1" required value="{{item.description.OS}}">
        <label for="RAM">RAM: </label>
        <input type="number" name="RAM" min="1" required value="{{item.description.RAM}}">
        <label for="ROM">ROM: </label>
        <input type="number" name="ROM" min="1" required value="{{item.description.ROM}}">
        <label for="battery">Battery: </label>
        <input type="number" name="battery" min="1" required value="{{item.description.battery}}">
        <label for="camera1">Camera: </label>
        <input type="text" name="camera1" required minlength="1" value="{{item.description.cameras.camera1}}">
        {{#if item.description.cameras.camera2}}
        <label for="camera2">Camera: </label>
        <input type="text" name="camera2" required minlength="1" value="{{item.description.cameras.camera2}}">
        {{/if}}
        {{#if item.description.cameras.camera3}}
        <label for="camera3">Camera: </label>
        <input type="text" name="camera3" required minlength="1" value="{{item.description.cameras.camera3}}">
        {{/if}}
    </fieldset>
    <label for="category">Category: </label>
    <select name="category">
        <option value="{{item.category._id}}">Phones</option>
    </select>
    <label for="price">Price: </label>
    <input type="number" name="price" min="1" required value="{{item.price}}">
    <label for="stock">Stock: </label>
    <input type="number" name="stock" min="0" required value="{{item.stock}}">
    <p>Current image:</p>
    <img class="product-image" src="{{item.file_url}}" alt="">
    <label for="image">New image:</label>
    <input type="file" name="image">
    <label for="password">Password: </label>
    <input type="password" name="password">
    <div class="confirm-update-contain">
        <button>Update</button>
        <button type="button"><a href="/catalog/phones">Back to Phones</a></button>
    </div>
</form>