<h2 class="update-product-title"><span class="light">Make changes to &ThinSpace;</span>{{item.name}}</h2>
<ul>
    <li>
        <a class="back-to-categories" href="/catalog/computer-accessories">&leftarrow; Back to Computer Accessories</a>
    </li>
    <li>
        <a class="back-to-categories" href="/catalog/">&leftarrow; Look at Categories</a>
    </li>
</ul>

<form action="" method="POST" class="create-form" enctype="multipart/form-data">
    {{#if errors}}
    <ul class="error-list create-form-errors">
        {{#each errors}}
        <li>{{msg}}</li>
        {{/each}}
    </ul>
    {{/if}}
    <label for="name">Name: </label>
    <input type="text" name="name" minlength="1" required value="{{item.name}}">
    <label for="description">Description: </label>
    <textarea name="description" cols="30" rows="10">{{item.description}}</textarea>
    <label for="category">Category: </label>
    <select name="category">
        <option value="{{item.category._id}}">Computer Accessories</option>
    </select>
    <label for="price">Price ($): </label>
    <input type="number" name="price" required min="1" value="{{item.price}}">
    <label for="stock">Stock: </label>
    <input type="number" name="stock" required min="0" value="{{item.stock}}">
    <p class="current-image">Current image:</p>
    <img class="product-image image-update-form" src="{{item.file_url}}" alt="">
    <label for="image">New image:</label>
    <input type="file" name="image">
    <label for="password">Password: </label>
    <input type="password" name="password">
    <div class="confirm-update-contain">
        <button class="add-item">Update</button>
        <button type="button"><a href="/catalog/computer-accessories">Back to Computer Accessories</a></button>
    </div>
</form>